
@font-face {
    font-family: 'gravitybold';
    src: url('fonts/gravity-bold-webfont.eot');
    src: url('fonts/gravity-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gravity-bold-webfont.woff') format('woff'),
         url('fonts/gravity-bold-webfont.ttf') format('truetype'),
         url('fonts/gravity-bold-webfont.svg#gravitybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gravitybook';
    src: url('fonts/gravity-book-webfont.eot');
    src: url('fonts/gravity-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gravity-book-webfont.woff') format('woff'),
         url('fonts/gravity-book-webfont.ttf') format('truetype'),
         url('fonts/gravity-book-webfont.svg#gravitybook') format('svg');
    font-weight: normal;
    font-style: normal;

}

body 
{
  margin: auto;
  font-family:Arial,Verdana,Tahoma;
  font-size:13px;
  background-color : #F6F6F6;
}

header
{
  color: #00CC00;
  padding: 5px 0 5px 0;
  background-color: #fff;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  font: 35px/1.1 gravitybold, sans-serif;
  z-index : 10;
  text-align: center;
}

#contenu-entete a
{
  color: #00CC00;
}

#contenu-entete
{
  width: 100%;
  margin-left: 10px;
}

header img
{
  width: 30px;
  margin-left: 0px;
  margin-right: 5px;
  vertical-align: middle;
}

#corps
{
  margin-top: 43px;
  background-color : #F6F6F6;
}

#menu
{
  position: fixed;
  width: 100%;
  margin: auto;
  margin-top: 3px;
  background-color : #FCFCFC;
  border: 1px solid #D0D0D0;
  border-width: 1px 0 1px 0;
  z-index : 10;
}

#onglets
{
  font : 14px/1 gravitybold, sans-serif;
  text-align: center;
  list-style-type : none;
  margin : 0;
  margin-left:-40px;
}
#onglets li
{
  border : 0;
  background-color : #FCFCFC;
  height: 22px;
  display: inline-block;
}

#onglets li.active, #onglets li a:hover, #onglets li.active ul li a:hover { background-color : #00C500;  }

#onglets a
{
  display : block;
  color : #484848;
  text-decoration : none;
  padding : 4px;
  height: 14px;
  padding: 4px 10px 4px 10px;
}
#onglets li.active
{
  color : #484848;
  background-color : #CE5043;
  font-weight: bold;
  height: auto;
  line-height:14px;
}

#onglets li.active a
{
  color : #fff;
}
#onglets a:hover
{
  color : #fff;
}

#contenu
{
  margin: auto;
  padding: 37px 10px 10px 10px;
}

a:link, a:active, a:visited {
  text-decoration : none;
  color: #00CC00;
}

#pied
{
  margin-top: 10px;
  padding: 10px;
}
input.post, textarea.post, input.text, select 
{
  border: 1px solid rgb(210, 210, 210);
  background-color : #F8F9F9;
  text-align: left;
  border-radius: 3px 3px 3px 3px;
  height: 16px;
}

input 
{
  text-indent : 2px;
  color : #000000;
  font : normal 12px Arial, Helvetica, Verdana, sans-serif;
  border-radius: 3px 3px 3px 3px;
}

input.button 
{
  background: #00CC00;
  padding:2px 7px;
  border: 0;
  line-height: 20px;
  outline: 0px none;
  height: 20px;
  font-weight: bold;
  font-size: 11px;
  font-family: Arial,Helvetica,Calibri,'Trebuchet MS',Verdana,Geneva,sans-serif;
  color: rgb(255, 255, 255);
  padding: 0px 15px;
  border: 1px solid #444444;
  border-radius: 3px 3px 3px 3px;
}

input.mainoption, input.liteoption 
{
  background: #00CC00;
  border: 0;
  line-height: 20px;
  outline: 0px none;
  height: 20px;
  font-weight: bold;
  font-size: 11px;
  font-family: Arial,Helvetica,Calibri,'Trebuchet MS',Verdana,Geneva,sans-serif;
  color: rgb(255, 255, 255);
  padding: 0px 15px;
  border-radius: 3px 3px 3px 3px;
  margin-top: -1px;
}

input.mainoption:hover, input.liteoption:hover, input.button:hover
{
  text-decoration: none;
  background-color: #00E100;
  border-radius: 3px 3px 3px 3px;
} 

form p 
{
  overflow: hidden;
}

form p label 
{
  float: left;
  width: 40%;
  min-width: 175px;
  text-align: left;
}

form p input
{
  width: 30%;
  min-width: 160px;
}

form p textarea 
{
  height: 400px;
  width: 40%;
  min-width: 165px;
}

.centrer_texte
{
  text-align: center;
}

footer
{
	font-size: 11px;
	text-align: center;
}

a.page
{
  background-color: #F9F9F9;
  border: 1px solid rgb(210, 210, 210);
  padding:2px 10px;
  text-decoration: none;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  border-radius: 3px 3px 3px 3px;
}

a:hover.page
{
  background-color: #FAFAFA;
}

a.pageActuelle
{
  background-color: white;
  border: 1px solid rgb(210, 210, 210);
  padding:2px 10px;
  text-decoration: none;
  font-weight: bold;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  border-radius: 3px 3px 3px 3px;
}

a:hover.pageActuelle
{
  background-color: #FAFAFA;
}

.pageBarre
{
  padding: 5px;
  clear: both;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

a:link, a:active, a:visited 
{
  text-decoration : none;
  color: rgb(85, 85, 85);
}
a.minibouton 
{
  background: #00CC00;
  padding:4px 7px;
  border: 0;
  display: inline-block;
  line-height: 12px;
  outline: 0px none;
  border-radius: 3px 3px 3px 3px;
}
a.minibouton span 
{
  font-weight: bold;
  font-size: 10px;
  font-family: Arial,Helvetica,Calibri,'Trebuchet MS',Verdana,Geneva,sans-serif;
  color: rgb(255, 255, 255);
  padding: 0px 2px;
  display: block;
}

a.minibouton:hover 
{
  text-decoration: none;
  background-color: #00E100;
}
h1 {
  font: 17px/1.231 arial,helvetica,clean,sans-serif;
  margin: 0;
  height : 20px;
  font-weight : bold;
  color: #00CC00;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 3px 3px 0 0;
}

.cadreh1 {
  background-color : #FFF;
  text-align: left;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  overflow: auto;
  border-radius: 0 0 3px 3px;
}

.ajaxLoader
{
  z-index: 10000;
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
}