<div id="nav">
  <ul class="breadcrumb">
    <li><a href="index.php" title="{t('Accueil')}"><span itemprop="title">{t('Accueil')}</span></a></li>
    <li><a href="" title="{t('Erreur')}"><span itemprop="title">{t('Erreur')}</span></a></li>
  </ul>
</div>

<div id="corps">
  <h1>Erreur</h1>
  <div class="cadreh1" style="color: red; font-weight: bold; text-align: center;">
    {$erreur}
  </div>
</div>