<h1>Détails de la fonction logique</h1>
<div class="cadreh1">
Fonction : {$booleanFunction->to_string()} <br />
Forme disjonctive : {$veritas->getMinimalDisjunctiveForm()} ({$veritas->outputToString()}) <br />
{if !isset($notBottom)}
Table de vérité : <br />
{$veritas->toHTML()}
<a class="minibouton" href="listSeq.php?output={$veritas->getMinimalOutput()}&amp;nbInputs={$veritas->getMinimalNbInputs()}"><span>{t('Voir les séquences implémentant la fonction.')}</span></a>{/if}
</div> 
