
	<table class="bodyTable">
	<tr>
	    <th>Nombre d'inputs</th>
	    <th>Numéro P-Class</th>
	    <th>Forme disjonctive minimale</th>
	    <th>Forme normale disjonctive (binaire)</th>
	    <th>Nombre de séquences implémentant la fonction</th>
	    <th></th>
	</tr>
	{foreach $listePermutationClass as $PClass}
		
	<tr>
		<td>{$PClass->getNb_inputs()}</td>
		<td>#{$PClass->getPermutation_class()}</td>
	    <td>
			{foreach $PClass->getBooleanFunctions() as $fonction}
				{$fonction->getMinimalBooleanFunction()}<br />
			{/foreach}
		</td>
	    <td>
			{foreach $PClass->getBooleanFunctions() as $fonction}
				{$fonction->getDnf()}<br />
			{/foreach}
		</td>
	    <td>{$PClass->getNbSemanticalBioDevices()}</td>
	    <td><a class="minibouton" href="listSeq.php?permutation_class={$PClass->getPermutation_class()}"><span>{t('Voir les séquences')}</span></a>
	</tr>
	{/foreach}
    </table>
  <div class="pageBarre">
    {t('Page')} :{foreach $pages as $page} {$page}{/foreach}
  </div>
