<table class="bodyTable">
    <tr>
	<th>Séquence</th>
	<th>Format texte</th>
	<th>Contrainte faible</th>
	<th>Contrainte forte</th>
	<th>Gènes</th>
	<th>Parts</th>
	<th>Gènes aux extrémités</th>
	<th>Longueur (bases)</th>
	<th></th></tr>
    {foreach $listeSequences as $sequence}
    <tr>
	<td>{$sequence->toHTML()}</td>
	<td>{$sequence->to_string()}</td>
	<td> {if $sequence->getWeak_Constraint() } respectée {else} violée {/if}</td>
	<td> {if $sequence->getStrong_Constraint() } respectée {else} violée {/if}</td>
	<td>{$sequence->getNb_genes()}</td>
	<td>{$sequence->getNb_parts()}</td>
	<td> {if $sequence->getGene_at_ends() } oui {else} non {/if}</td>
	<td>{$sequence->getLength()}</td>
	<td><a class="minibouton" href="sequence.php?id_semantics={$sequence->getId_semantics()}&amp;id_dyck_functionnal_structure={$sequence->getId_dyck_functionnal_structure()}"><span>{t('Voir les détails')}</span></a>
    </tr>
    {/foreach}
</table>
  <div class="pageBarre">
    {t('Page')} :{foreach $pages as $page} {$page}{/foreach}
  </div> 
