<div id="aclicker">
	<h1>Détails de la classe de permutation (cliquer pour dérouler / enrouler)</h1>
	<div class="cadreh1" id="aDerouler" style="display: none;">
	{foreach $permutationClass->getBooleanFunctions() as $booleanFunction}
	{$booleanFunction->getMinimalBooleanFunction()} ----- 
	{$booleanFunction->getDnf()} <br />
	{/foreach}
	</div> 
	<br />
</div>
<script>
document.getElementById("aclicker").addEventListener('click', function (e)
{
	var aDerouler = document.getElementById("aDerouler");
	if (aDerouler.style.display === "none")
		aDerouler.style.display = "block";
	else
		aDerouler.style.display = "none";
});
</script>