		
<footer >
		<p>{t('Page générée en %e seconde(s).', [$tempsGeneration])}<br />
		{t('Avec %e requête(s) SQL exécutée(s) en %e seconde(s).', [$requetes, $temps])}</p>
</footer>
    </div>
    </div>
	</body>
</html>