<h1>Détails de la séquence</h1>
<div class="cadreh1">
Séquence : {$semanticalBioDevice->toHTML()} <br />
Format texte : {$semanticalBioDevice->to_string()} <br />
Fonction implémentée : {$veritas->getMinimalDisjunctiveForm()} ({$veritas->outputToString()}) <br />
Taille : {$semanticalBioDevice->getLength()} bases <br />
Symétrique : {$semanticalBioDevice->getSymetric()->toHTML()} <br />
Table de vérité : <br />
{$veritas->toHTML()}
<a class="minibouton" href="listSeq.php?output={$veritas->getMinimalOutput()}&amp;nbInputs={$veritas->getMinimalNbInputs()}"><span>{t('Voir les séquences implémentant la même fonction.')}</span></a>
</div>
