
      <div class="barreClassement">
	<a href="" onclick="chargeAjax('#partieDroite', 'ajax/journal.php?id={$id}'); return false;" class="borduresGauche">{t('Journal')}</a><a href="" onclick="chargeAjax('#partieDroite', 'ajax/succes.php?id={$id}'); return false;" class="actif">{t('Succes')}</a><a href="" onclick="chargeAjax('#partieDroite', 'ajax/amis.php?id={$id}'); return false;" class="borduresDroite">{t('Amis')}</a>
      </div>

{foreach $tblSucces as $succes}
  <h1>{$succes['nom']}</h1>
  <div class="cadreh1" style="font-size: 17px;">
    <img src="{$succes['img']}" alt="{$succes['description']}" title="{$succes['description']}" width="64" height="64" style="vertical-align: middle; margin-right: 10px;" />
    {$succes['description']}
  </div>
{/foreach}